@import 'open-color';
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

body {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
		sans-serif;
	font-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	background-color: var(--oc-gray-1);
	color: var(--oc-gray-8);
}

button {
	padding: 0.2rem 0.5rem;
	background: var(--oc-gray-2);
	border: 1px solid var(--oc-gray-5);
	border-radius: 0.2rem;
	cursor: pointer;
}
